<tbody>
    <link rel="stylesheet" href="/css/agregar.css">
    <form action="" method="POST" class="container text-center mt-4 form">
        {{!-- <input type="text" name="id" placeholder="id">  --}}
        <input type="text" name="codigo" placeholder="codigo" class="text-place"> 
        <input type="text" name="nombre" placeholder="nombre" class="text-place"> 
        <input type="number" name="precio" placeholder="precio" class="text-place"> 
        <input type="number" name="stock" placeholder="stock" class="text-place"> 
        <input type="number" name="presentacion" placeholder="presentacion" class="text-place"> 
        <button type="submit" class="button">submit</button>
    </form>
    {{#each productos}}
        <p>ya existe un producto con el código {{codigo}}</p>
    {{/each}}
    {{#messages}}
        <p>completar campos faltantes</p>
    {{/messages}}
</tbody>