<tbody>
    <link rel="stylesheet" href="/css/ventas.css">
        <div class="all-container">
            <div class="articles-container">
                <ul id="content" class="articles-ul">
                </ul>
            </div>
            <div class="articles-container">
                <div class="container text-center">
                    <form action="javascript:void(0);" id="scanform">
                        <input type="text" name="codigo" id="codinp">
                        <button id="search" type="submit">search</button>
                    </form>
                    <button id="generarventa">next</button>
                    <input type="checkbox" id="cash">
                </div>  
            </div>
        </div>
    <script src="/js/ventas.js"></script>
</tbody>