<tbody>
    <link rel="stylesheet" href="/css/ventas.css">
        <div class="container text-center">
            <input type="text" name="codigo" id="codinp">
            <button id="search">search</button>  
            <button id="generarventa">next</button>
        </div>
        <div class="all-container">
            <div id="content" class="articles-container">

            </div>
        </div>
    <script src="/js/ventas.js"></script>
</tbody>