<tbody>
    <link rel="stylesheet" href="/css/ventas.css">
        <div class="all-container">
            <div class="articles-container">
                <ul class="articles-ul" id="articles_ul">
                </ul>
            </div>
        </div>
    <script src="/js/verventas.js"></script>
</tbody>

