<link rel="stylesheet" href="/css/home.css">
<div class="container text-center bg-secondary rounded-2 p-5">
    <a class="border bg-primary-subtle rounded-1 m-3 border-secondary-subtle p-2" href="/tasks">buscar producto</a>
    <a class="border bg-primary-subtle rounded-1 m-3 border-secondary-subtle p-2"  href="/agregar">agregar producto</a>
    <a class="border bg-primary-subtle rounded-1 m-3 border-secondary-subtle p-2"  href="/venta">generar venta</a>
</div>
