<div class="container text-center">
<a class="border bg-secondary-subtle rounded-1 m-3 border-secondary-subtle" href="/tasks">buscar producto</a>
<a class="border bg-secondary-subtle rounded-1 m-3 border-secondary-subtle"  href="/agregar">agregar producto</a>
<a class="border bg-secondary-subtle rounded-1 m-3 border-secondary-subtle"  href="/venta">generar venta</a>
</div>
