@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif!important;
    font-weight: 300;
}

body{
    background-color: #a1a1a1;
}

.all-container{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    gap: 1vw;
}

.articles-container{
    
    padding: 0;
    margin: 0;
    gap: 1vw;
    justify-content: center;
    width: 40vw;
    min-height:75vh;
    background-color: #2e2e2e;
    border-radius: 25px;
}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12vw;
    min-height: 8vw;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.842);
    margin-top: 1vw;
    border-radius: 25px;
    max-height: 10vw;
}

.article{
    color: black;
    font-size: 0.85vw;
}

.articles-ul{
    /* width: 40vw; */
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-bottom: 1vw;
}

.label-form{
    color: white;
    text-align:left;
    width:11vw;
}

.input-text{
    width: 11vw;
}

.forms{
    height: 10vw;
    /* background-color: gray; */
}

#newproduct{
    margin-bottom: 7vw;
}

.payment-method{
    color: white;
    font-size: 1.5vw;
    display: inline;
}

.cashSpan:hover {
    color: green!important;
    cursor: pointer;
}

.othersSpan:hover {
    color: blue;
    cursor: pointer;
}

.radiobutton{
    display: none;
}

.dateSelector{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dateSelector p, input{
    font-weight: 1000;
}

@media(max-width:1100px){
    .articles-container{
        width: 80vw;
    }
    .articles-ul{
        gap:5vw;
    }
    .articles{
        width: 20vw;
        min-height: 15vw;
    }
    .article{
        font-size: 1.4vw;
    }
}